@page "/Delete"

@using System.Net.Http
@* @using static HttpClient httpClient *@

<PageTitle>Delete</PageTitle>

<div class="alert alert-success" style="background-color: aqua; font-family: Verdana, Geneva, Tahoma, sans-serif;">
    <span class="placeholder col-12 bg-dark"></span>
    <label>Enter the ID of the todo you want to delete</label>
    <div class="form-group">
        <input @bind="@id" type="number" id="id" class="form-control" />
    </div>

</div>
<button type="button" class="btn btn-secondary" @onclick="IncrementCount">Delete todo</button>

@code {
   static HttpClient httpClient=new HttpClient();
   swaggerClient client = new swaggerClient("http://localhost:5000/", httpClient);
private int id {get;set;}
   private void IncrementCount()
   {
      client.DeleteToDoAsync(id);
   }

}
